
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/index.css" rel="stylesheet">
</head>
<body>
<p>时逢三五便团圆，</p>
<p>满把晴光护玉栏。</p>
<p>天上一轮才捧出，</p>
<p>人间万姓仰头看。</p>

<form method="post" action="user/signup/">
    <input type="text" value="姓名 " name="Name " />
    <input type="password" value="密码 " name="Password " />
    <input type="submit" value="创建账号"  />
</form>



<form method="post" action="user/signin/">
    <input type="text" value="姓名 " name="Name " />
    <input type="text" value="密码 " name="Password " />
    <input type="submit" value="登陆账号" name="submitBtn" />
</form>


</body>
</html>
